body{
	background-color: #31355e;
	font-family: 'Bitter', serif;
	font-size: 20px;
	
}

	
.navbar-default .navbar-brand{
	font-family: 'Bitter', serif;
	font-size: 26px;
	color: white;
}

.navbar-default .navbar-brand:hover{
	color: white;
}

 .container-fluid {
	background-color: #31355e;
	
}

.navbar-default {
	border: none;
}

.navbar-default .navbar-toggle {
	border: none;

}

.navbar-default .navbar-nav>li>a {
	color: white;
}

.navbar-default .navbar-nav>li>a:hover{
	background-color: #727b89;
	color: white;
}

.navbar-default .navbar-toggle .icon-bar {
	background-color: white;
}

.navbar-default .navbar-toggle:hover {
	background-color: #727b89;

}

h1{
	color: white;
	font-family: 'Bitter', serif;
	text-align: center;
	margin-top: 10%;
}

h2 {
	color: white;
	text-align: center;
	font-size: 36px;
	text-decoration: none;
}

h3{
	color: white;
	font-family: 'Bitter', serif;
	font-size: 26px;
	text-align: center;
}

i {
	color: white;
	margin-right: 10px;
}

.miniBio {
	background-color: white;
	text-align: center;
	color: #31355e;
	font-family: 'Bitter', serif;

}

#bodyContent {
	color: #31355e;
}

.compPic {
	display: block;
	margin: auto;
	margin-top: 5%
}

.codePicture {
	display: block;
	margin: auto;
	padding-top: 5%;
}

p.bioParagraph {
	font-family: 'Bitter', serif;
	padding-bottom: 15%;
	text-align: center;
	padding-left: 20%;
	padding-right: 20%;
	

}

.helloBanner{
	font-weight: bold;
	font-size: 30px;
}



.magicPicture {
	display: block;
	margin: auto;
	padding-top: 5%;
	
}

.fa.fa-code{
	color: #31355e;
}

/*
Sets the styling for the arrow that scrolls a user back up to the top of the screen.
*/
#return-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.7);
    width: 50px;
    height: 50px;
    display: block;
    text-decoration: none;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
    display: none;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#return-to-top i {
    color: #fff;
    margin: 0;
    position: relative;
    left: 16px;
    top: 13px;
    font-size: 19px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#return-to-top:hover {
    background: rgba(0, 0, 0, 0.9);
}
#return-to-top:hover i {
    color: #fff;
    top: 5px;
}

.mobilePic {

	display: block;
	margin: auto;
	margin-top: 5%;
	padding-bottom: 5%;


}

.fa.fa-cog {
    position: absolute;
    top: 30%;
    right: 10%;

    -webkit-animation:spin 4s linear infinite;
    -moz-animation:spin 4s linear infinite;
    animation:spin 4s linear infinite;
}

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }


#cloud {
	position: absolute;
	opacity: 0.5;
}

.stufftodo {
	display: block;
	margin: auto;
	height: 100%; 
	width: 100%;
	border-style: solid;
	border-width: 12px;
	margin-bottom: 10px;
	box-shadow: 10px 10px 5px #888888;
}

.pong{
	display: block;
	margin: auto;
	border-style: solid;
	border-width: 10px;
	box-shadow: 10px 10px 5px #888888;
}

.webAppHeaders{
	font-size: 36px;
	text-align: center;
	font-weight: bold;
	padding-top: 5%;
	padding-bottom: 5%;

}

p.appsParagraph{
	font-family: 'Bitter', serif;
	text-align: center;
	padding-left: 20%;
	padding-right: 20%;
	
}

.btn-default{
	border-radius: 0px;
	margin-bottom: 2%;
    font-family: 'Bitter', serif;
	background-color: #31355e;
	color: white;
	border: solid;
	border-width: 3px;
	border-color: #727b89;



}

.codingPicture {
	display: block;
	margin: auto;
	padding-top: 5%;
}



.progress {
	width: 50%;
	display: block;
	margin: auto;
	margin-bottom: 5%;
	position: relative;
}

.progress span{
	position: absolute;
    display: block;
    width: 100%;
    
}

.skillComp{
	list-style-type: none;
	display: inline;

}

.well{
	display: block;
	margin: auto;
	width: 80%;

}

span{
	text-align: center;
}




footer {
	color: white;
	text-align: center;
}



@media only screen and (max-width: 768px){
	[class*="stufftodo"] {
		display: none;
	}
	[class*="fa fa-cogs fa-3x"] {
		display: none;
	}

	[class*="fa fa-cog fa-3x"] {
		display: none;
	}

}